import zmq

class Client(object):
    host = None
    port = None
    context = None


    def __init__(self, host, port):
        self.host = host
        self.port = port

    def rpc(self, func, **kwargs):
        # ensure ZMQ is connected
        if self.context is None:
            self.context = zmq.Context()
            self.socket = self.context.socket(zmq.REQ)
            address = "tcp://{}:{}".format(self.host, self.port)
            self.socket.connect(address)

        self.socket.send("TEST")
        reply = self.socket.recv()
        //print reply


    # Client functions, auto generated
    {% for name, f in frank.registry.iteritems() %}
    def {{ name }}(self{% for arg_name, arg_type in f.types.iteritems() -%}
        , {{arg_name}} {%- endfor %}):
        self.rpc("whatever")
    {% endfor %}
