import zmq.green as zmq

class Client(object):
    host = None
    port = None
    context = None


    def __init__(self, host, port):
        self.host = host
        self.port = port

    def rpc(self, func, **kwargs):
        # ensure ZMQ is connected
        if self.connection is None:
            self.context = zmq.Context()
            self.socket = self.context.socket(zmq.REP)
            address = "tcp://{}:{}".format(self.host, self.port)
            self.socket.connect(address)

    # Client functions, auto generated
    {% for name, f in frank.registry.iteritems() %}
    def {{ name }}(self{% for arg_name, arg_type in f.types.iteritems() -%}
        , {{arg_name}} {%- endfor %}):
        pass
    {% endfor %}
